body {
  font: 100%, "Nunito", sans-serif;
  background-image: url("./img/tlo.png");
}

h1,
h2,
h3,
h4,
h5,
.middle-div, .div-container, .header-component {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
.middle-div, .header-component {
  border-radius: 20px;
  background-color: gray;
  opacity: 0.6;
  padding: 20px;
}

.div-container {
  border-radius: 20px;
  border: 2px, solid, #808080;
  background-color: white;
  width: 40em;
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  width: 30vw;
  background-color: lightBlue;
}

.button-inside-task-box {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
.middle-div {
  width: 10em;
}

.shop-page, .about-page {
  margin-left: 20vw;
  margin-right: 20vw;
}

.nav-component, .main-container {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
